
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>


        <div class="row">
          <div class="col-md-4">
            Inventory
          
          </div>
          <div class="col-md-8">
            <nb-select placeholder="[SELECT PROPERTY]" [fullWidth]="true" (selectedChange)="onPropertySelected($event)"
                       name="propertyId"
                       [(ngModel)]="defaultPropertyId">
              <nb-option value={{item.id}} *ngFor="let item of properties">{{item.title}}</nb-option>

            </nb-select>


          </div>





        </div>
      </nb-card-header>


    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        

        <div class="col-12 search-box">
          <input nbInput placeholder="Date Range" [nbDatepicker]="rangepicker" [(ngModel)]="dateRange" class="date-picker-box input-rectangle">
          <nb-rangepicker #rangepicker></nb-rangepicker>
          <button class="btn btn-primary btn-rectangle search-btn" (click)="loadInventories()"
                  [nbSpinner]="loadingSearch" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
            Search
          </button>
        </div>

      </nb-card-header>
      <nb-card-body>
        
        <table class="table inventory-table">
          <tr>
            <th class="room-name-fixed">Rooms</th>
          
            <th class="day-cell" *ngFor="let item of dayList">{{item.dayObj | date:'MMM d'}}</th>
          </tr>
          <tr *ngFor="let item of rooms">
            <th class="room-name-fixed">
              {{item.title}}<br />
              {{item.typeName}}
            </th>
           
            <td class="qty-cell" *ngFor="let itemd of dayList">
              <ng-container  *ngIf="getQty(itemd.dayObj,item.id) as qty">


                <input type="number" class="qty-txt" value="{{qty.totalQty}}" (blur)="onInvQtyChange($event.target.value,itemd.dayObj,item.id)" />
                <br /> <a href="javascript:void(0);" class="blocked-qty">{{qty.bookedQty}} blocked</a>
              </ng-container>
            </td>
          </tr>
        </table>

     
      </nb-card-body>
      <nb-card-footer>
        <!--<button class="btn btn-primary btn-rectangle search-btn"
                [nbSpinner]="loadingSearch" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
          Update
        </button>-->
      </nb-card-footer>

    </nb-card>
  </div>
</div>


<ng-template #reserveDialogNew let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-10">{{data.title}}</div>
        <div class="col-md-2">
          <button type="button" (click)="ref.close()" nbButton class="btn btn-sm btn-outline-secondary">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>

      <form (ngSubmit)="onNewReserveSubmit()" #mainNewReservForm="ngForm" novalidate>

        <div class="form-group row">
          <div class="col-6">
            <label class="label">Check-in</label>
            <input type="date" nbInput fullWidth placeholder="Check-in"
                   autocomplete="off"
                   name="fromDate"
                   [(ngModel)]="reservData.fromDate"
                   required #fromDate="ngModel"
                   [status]="fromDate.dirty ? (fromDate.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
          <div class="col-6">
            <label class="label">Check-out</label>
            <input type="date" nbInput fullWidth placeholder="Check-out"
                   autocomplete="off"
                   name="toDate"
                   [(ngModel)]="reservData.toDate"
                   required #toDate="ngModel"
                   [status]="toDate.dirty ? (toDate.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
        </div>

        <div class="form-group">
          <label class="label">Booking Channel</label>
          <nb-select placeholder="[SELECT]" [fullWidth]="true"
                     name="bookingChannelId"
                     [(ngModel)]="reservData.bookingChannelId"
                     required #bookingChannelId="ngModel"
                     [status]="bookingChannelId.dirty ? (bookingChannelId.invalid  ? 'danger' : 'success') : 'basic'">
            <nb-option value={{item.id}} *ngFor="let item of channels">{{item.channelName}}</nb-option>
          </nb-select>
        </div>

        <div class="form-group">
          <label class="label">Guest Name</label>
          <input type="text" nbInput fullWidth placeholder="Guest Name"
                 autocomplete="off"
                 name="custName"
                 [(ngModel)]="reservData.custName"
                 required #custName="ngModel"
                 [status]="custName.dirty ? (custName.invalid  ? 'danger' : 'success') : 'basic'">
        </div>
        <div class="form-group row">
          <div class="col-6">
            <label class="label">Guest Email</label>
            <input type="email" nbInput fullWidth placeholder="Guest Email"
                   autocomplete="off"
                   name="custEmail"
                   [(ngModel)]="reservData.custEmail"
                   #custEmail="ngModel"
                   [status]="custEmail.dirty ? (custEmail.invalid  ? 'danger' : 'success') : 'basic'">
          </div>

          <div class="col-6">
            <label class="label">Guest Phone</label>
            <input type="number" nbInput fullWidth placeholder="Guest Phone"
                   autocomplete="off"
                   name="custPhone"
                   [(ngModel)]="reservData.custPhone"
                   #custPhone="ngModel"
                   [status]="custPhone.dirty ? (custPhone.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
        </div>
      

        <div class="form-group">
          <label class="label">Details</label>
          <textarea nbInput fullWidth placeholder="Details"
                    autocomplete="off"
                    name="details"
                    [(ngModel)]="reservData.details"
                    #details="ngModel"
                    [status]="details.dirty ? (details.invalid  ? 'danger' : 'success') : 'basic'">

          </textarea>
        </div>



        <button type="submit" nbButton class="btn btn-sm btn-outline-primary" [disabled]="mainNewReservForm.invalid"
                [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
          <nb-icon icon="save-outline"></nb-icon>SAVE
        </button>
      </form>


    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #reserveDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-10">{{data.title}}</div>
        <div class="col-md-2">
          <button type="button" (click)="ref.close()" nbButton class="btn btn-sm btn-outline-secondary">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>

      <form (ngSubmit)="onReserveSubmit()" #mainReservForm="ngForm" novalidate>

        <div class="form-group row">
          <div class="col-6">
            <label class="label">Check-in</label>
            <input type="date" nbInput fullWidth placeholder="Check-in"
                   autocomplete="off"
                   name="fromDate"
                   [(ngModel)]="reservData.fromDate"
                   required #fromDate="ngModel"
                   [status]="fromDate.dirty ? (fromDate.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
          <div class="col-6">
            <label class="label">Check-out</label>
            <input type="date" nbInput fullWidth placeholder="Check-out"
                   autocomplete="off"
                   name="toDate"
                   [(ngModel)]="reservData.toDate"
                   required #toDate="ngModel"
                   [status]="toDate.dirty ? (toDate.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
        </div>

        <div class="form-group">
          <label class="label">Booking Channel</label>
          <nb-select placeholder="[SELECT]" [fullWidth]="true"
                     name="bookingChannelId"
                     [(ngModel)]="reservData.bookingChannelId"
                     required #bookingChannelId="ngModel"
                     [status]="bookingChannelId.dirty ? (bookingChannelId.invalid  ? 'danger' : 'success') : 'basic'">
            <nb-option value={{item.id}} *ngFor="let item of channels">{{item.channelName}}</nb-option>
          </nb-select>
        </div>

        <div class="form-group">
          <label class="label">Guest Name</label>
          <input type="text" nbInput fullWidth placeholder="Guest Name"
                 autocomplete="off"
                 name="custName"
                 [(ngModel)]="reservData.custName"
                 required #custName="ngModel"
                 [status]="custName.dirty ? (custName.invalid  ? 'danger' : 'success') : 'basic'">
        </div>
        <div class="form-group row">
          <div class="col-6">
            <label class="label">Guest Email</label>
            <input type="email" nbInput fullWidth placeholder="Guest Email"
                   autocomplete="off"
                   name="custEmail"
                   [(ngModel)]="reservData.custEmail"
                   #custEmail="ngModel"
                   [status]="custEmail.dirty ? (custEmail.invalid  ? 'danger' : 'success') : 'basic'">
          </div>

          <div class="col-6">
            <label class="label">Guest Phone</label>
            <input type="number" nbInput fullWidth placeholder="Guest Phone"
                   autocomplete="off"
                   name="custPhone"
                   [(ngModel)]="reservData.custPhone"
                   #custPhone="ngModel"
                   [status]="custPhone.dirty ? (custPhone.invalid  ? 'danger' : 'success') : 'basic'">
          </div>
        </div>


        <div class="form-group">
          <label class="label">Details</label>
          <textarea nbInput fullWidth placeholder="Details"
                    autocomplete="off"
                    name="details"
                    [(ngModel)]="reservData.details"
                    #details="ngModel"
                    [status]="details.dirty ? (details.invalid  ? 'danger' : 'success') : 'basic'">

          </textarea>
        </div>

        <div class="row">
          <div class="col-6">
            <button type="button" (click)="openReserveDelete(deleteReserveDialog)" nbButton class="btn btn-sm btn-outline-secondary">
              <nb-icon icon="trash-outline"></nb-icon>
            </button>
          </div>
          <div class="col-6">
            <button type="submit" nbButton class="btn btn-sm btn-outline-primary" [disabled]="mainReservForm.invalid"
                    [nbSpinner]="loadingSave" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
              <nb-icon icon="save-outline"></nb-icon>SAVE
            </button>
          </div>
        </div>
     

       
      </form>


    </nb-card-body>
  </nb-card>
</ng-template>



<ng-template #deleteReserveDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      {{data.title}}
    </nb-card-header>
    <nb-card-body>
      Are you sure to delete this reservation?
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-md-6">
          <button type="button" nbButton class="btn btn-sm btn-outline-secondary" (click)="ref.close()">
            <nb-icon icon="slash-outline"></nb-icon>CANCEL
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" (click)="deleteReservation()" nbButton class="btn btn-sm btn-outline-primary"
                  [nbSpinner]="loadingDelete" nbSpinnerStatus="primary" nbSpinnerSize="xsmall" nbSpinnerMessage="">
            <nb-icon icon="trash-outline"></nb-icon>DELETE
          </button>
        </div>
      </div>


    </nb-card-footer>
  </nb-card>
</ng-template>




