@import '../../../@theme/styles/themes';

@include nb-install-component() {
  /* .fc-scroller.fc-day-grid-container {
    overflow: auto !important;
    height: auto !important;
  }*/
  .room-card-selected {
    background-color: #36f !important;
    color: #ffffff !important;
  }

  .room-card {
    height: 150px;
    max-height: 150px;
  }

  .inventory-table {
    margin-left: 177px;
  }

  .day-row {
    overflow-x: auto;
    width: 100%;
    display: -webkit-box;
  }

  .room-name-fixed {
    position: fixed;
    background-color: #edf1f7;
    width: 200px;
    margin-left: -201px;
  }



  .room-name {
    color: #ffffff;
    width: 200px;
  }

  .day-cell {
    background-color: #edf1f7;
  }

  .qty-cell {
    width: 100px;
  }

  .search-box {
    height: 50px;
    margin-bottom: 20px;
    border: solid 1.5px #e3e9ee;
  }

  .date-picker-box {
    margin-top: 4px;
    margin-left: -12px;
    border: none;
    width: 220px;
  }



  .search-btn {
    /*margin-top: 3px;*/
  }

  .qty-txt {
    width: 50px;
    border: none;
    text-align: center;
  }

  .qty-txt:focus {
    border: solid 1px #edf1f7;
  }

  .blocked-qty {
    font-size: 10px;
  }
}

