@model PageViewModel


<div class="highlightMessage partner">
    <div class="container text-left">
        <div class="row">
            <div class="col-md-8">
                <h2 class="stylish">Partner with Us</h2>
                <h1>Premium hospitality brand, managing exclusive Plantation Villa's, Private Holiday Homes and Heritage Bungalows.</h1>
                <p>VOYE HOMES is a hospitality company which manages premium holiday homes. We manage Property  Integrations, Technology Integrations, Marketing, Operational Excellence, Sales Channel Management, End-to-End Reservation Management, and Customer Services of the property. VOYE HOMES is an exponentially growing organization, trouble shooting the travel and hospitality industry. We together will pursue this business and flourish soon with hard efforts.</p>
            </div>
        </div>
    </div>
</div>
<div class="master-slider partnerBnr">
    <div class="itm">
        <img src="~/assets/theme2021/img/partnerHead.jpg" alt="Voyehomes" />
    </div>
</div>

<div class="container">
    <div class="partnerValues">
        <div class="box-wrapper">
            <div class="img"> <img src="~/assets/theme2021/img/experienceIco.png" alt="Voyehomes" /></div>
            <div class="count">50+</div>
            <p>Holiday Homes</p>
        </div>
        <div class="box-wrapper">
            <div class="img"> <img src="~/assets/theme2021/img/localIco.png" alt="Voyehomes" /></div>
            <div class="count">10</div>
            <p>Destinations</p>
        </div>
        <div class="box-wrapper">
            <div class="img"> <img src="~/assets/theme2021/img/happyGuestIco.png" alt="Voyehomes" /></div>
            <div class="count">12000+</div>
            <p>Guests</p>
        </div>
    </div>
</div>



<div class="container">
    <div class="partnerWith">
        <div class="row">
            <div class="col-md-6">
                <p>We are partnered with some of the great plantation brands</p>
            </div>
            <div class="col-md-6">
                <div class="row partnerBrnads">
                    <div class="col-4">
                        <img src="~/assets/theme2021/img/kannanDevanLogo.png" alt="Kanna Devan" class="img-fluid">
                    </div>
                    <div class="col-4">
                        <img src="~/assets/theme2021/img/tataTeaLogo.png" alt="TATA Tea" class="img-fluid">
                    </div>
                    <div class="col-4">
                        <img src="~/assets/theme2021/img/harisonLogo.png" alt="Harison" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="listingWith">
        <div class="row">
            <div class="col-md-12 secTitle text-center">
                Listing & property management across chanels
            </div>
            <div class="col-md-12 text-center">
                <img src="~/assets/theme2021/img/voyeLogo.png" alt="Voye">
                <img src="~/assets/theme2021/img/airbnb.png" alt="airbnb">
                <img src="~/assets/theme2021/img/bookigncom.png" alt="bookigncom">
                <img src="~/assets/theme2021/img/agoda.png" alt="agoda">
                <img src="~/assets/theme2021/img/goibibo.png" alt="goibibo">

                <img src="~/assets/theme2021/img/makemytrip.png" alt="makemytrip">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="whyVoye mb-3">
        <div class="row">
            <div class="col-md-12 secTitle text-center">
                Why Voye Homes is Different
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/revenueManagement.png" alt="Voye home">
                <h5>Revenue<br>Management</h5>
                <div class="descri">
                    Generate revenue by increasing occupancy rate to an average of 57%.
                </div>
                <p class="main">Growth Potential<br>Fixed Monthly Returns</p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/SalesMarketing.png" alt="Voye home">
                <h5>Sales &<br>Marketing</h5>
                <div class="descri">
                    Brand visibility through regular online presence. 70% increase in booking through social media.
                </div>
                <p class="main">Affiliate Marketing<br>Brand Visibility</p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/inventoryManagement.png" alt="Voye home">
                <h5>Inventory<br>Management</h5>
                <div class="descri">
                    Promote property through 5 various online  portals like booking.com,   Goibibo, etc.
                </div>
                <p class="main">Channel Managers<br>OTA Analysts</p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/operationalExcellance.png" alt="Voye home">
                <h5>Operational<br>Excellence</h5>
                <div class="descri">
                    Reduce 15% daily operations costs through technology enabled solutions.
                </div>
                <p class="main">Data Driven Decisions<br>Organized Supplies</p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/customerManagement.png" alt="Voye home">
                <h5>Customer<br>Management</h5>
                <div class="descri">
                    24x7 customer support from us  for customers as well as property owners through automated service solutions.
                </div>
                <p class="main">Impeccable Hospitality<br>Personalized Experiences</p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/theme2021/img/property_managemnt.png" alt="Voye home">
                <h5>Property<br>Management</h5>
                <div class="descri">
                    Enhancing tech enabled property integrations  to create next-gen hospitality services.
                </div>
                <p class="main">Empower Staffs<br>Service Quality</p>
            </div>
        </div>
    </div>
</div>

<div class="partnerTestimonials">
    <div class="container">
        <div class="col-md-12 testimonials">
            <!-- Values -->
            <section class="client-says">
                <div class="client-slider-single">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="propertyImg"><img src="https://res.cloudinary.com/voyehomes/image/upload/w_1000,h_500,f_auto,c_scale/v1602920178/property/16/image/9fc51ce1-2f22-4056-875d-119bbe45eb4e.jpg" alt="Voye home"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrapper">
                                    <div class="avatar"><img class="testi-avatar" src="https://res.cloudinary.com/voyehomes/image/upload/v1643180321/Testimonials/Partners/rajeesh_efyzfj.jpg" alt="Voyehomes" /></div>
                                    <div class="read">
                                        <div class="who">Rajeesh K - VOYE HOMES Novella </div>
                                        <p>
                                            I am associating with VOYE HOMES from their inception.  A group of young enthusiast people passionate to create a great hospitality brand. My association with them has been pleasurable and profitable. The next day my property moved to live for booking, they started giving me regular income. Good work guys.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="propertyImg"><img src="https://res.cloudinary.com/voyehomes/image/upload/v1633062653/property/42/image/6bebe097-1d0e-4867-8c22-f242c24e3c89.jpg" alt="Voye home"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrapper">
                                    <div class="avatar"><img class="testi-avatar" src="https://res.cloudinary.com/voyehomes/image/upload/v1643180321/Testimonials/Partners/prabhakar_mbhtlt.jpg" alt="Voyehomes" /></div>
                                    <div class="read">
                                        <div class="who">Prabhakar - Harrisons Malayalam Ltd </div>
                                        <p>We are partnering with VOYE HOMES for last 04 months. It has been a smooth journey till now with them.  Most important thing about them is transparency and integrity. I really love their professional approach towards business. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container prtnerForm">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="secTitle">Contact us to empanel your holiday home with us</div>

            <div>
                <a href="tel:919605714953"><i class="fas fa-phone" style="font-size: 25px;margin-right: 3px;"></i> (+91) 9605 714 953</a><br><br>
                <a href="mailto:partnerships@voye.in"><img src="/assets/theme2021/img/supportico.png" alt="Voyehomes"> partnerships@voye.in</a>
            </div>
        </div>
        <div class="col-md-6">
            <form class="needs-validation row" novalidate="" id="enquiry-form" asp-controller="Page"   asp-action="PartnerWithUs" method="post">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="full_name" name="full_name" aria-describedby="emailHelp" placeholder="Full Name" required="">
                    <div class="invalid-feedback">Invalid</div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required="">
                    <div class="invalid-feedback">Invalid</div>
                </div>
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email ID" required="">
                    <div class="invalid-feedback">Invalid </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="property_location" name="property_location" placeholder="Property Location" required="">
                    <div class="invalid-feedback">Invalid</div>
                </div>
                <div class="form-group col-md-12">
                    <textarea id="details" class="form-control" name="details" rows="4" placeholder="About the Property"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary">Submit Your Query</button>
                </div>
            </form>
        </div>
    </div>
</div>


